---
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title={SITE_TITLE}
  description={SITE_DESCRIPTION}
  className="flex h-svh max-w-sm flex-col justify-center"
>
  <main class="space-y-4">
    <p>
     Hey there! I’m Swapnil Siddharth. <br>
      This blog is still a work in progress, but I’m glad you’re here!
    </p>
  </main>
</Layout>
